[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
django-decouple = "*"
csv-generator = "*"
csv-converter = "*"
python-decouple = "*"
cloudinary = "*"
Pillow = "*"
django-bootstrap3 = "*"
django-star-ratings = "*"
django-cloudinary-storage = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
