{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 style="text-align: center;font-family: 'Calistoga', cursive;"><span style="color:#535250;"> The Awards</span> <span style='color:#4379ee;'> API</span></h3><hr>
        <div class="row" >
            <div class="col-lg-2" >

            </div>
            <div class="col-lg-8" >
                <div class="card">

                    <div class="hero-image" >
                        <div class="hero-text">
                            <h1 style="font-family: 'Calistoga', cursive;color:white;">The Awards API</h1><br>
                            <h4 style="font-weight: bold;color:white">API End Points</h4>
                            <a class="btn btn-default " href="api/project/?format=json " target="_blank">Project end-point</a><br><br>
                            <a  class="btn btn-default "  href="api/profile/?format=json" target="_blank">Profile end-point</a><br><br>
                        </div>
                    </div>
                    <div class="card-text text-center" style="padding: 40px;">
                        
                        <h4 style="font-weight:bold">Overview</h4>
                        <p>You can use the The Awards REST API to create calls to get the data you need to integrate with The Award app.</p>
                        <hr>
                        <p>During the period, we may change some features based on developer feedback. If we do make changes, we'll announce them on the developer documentation without advance notice..</p>
                        <hr>
                        <p>You can now provide more information through contacts for URLs that link to registered domains by using the Content Attachments API.Contact for more details.

                        </p>  
                    </div>
                </div><br>

            </div> 
            <div class="col-lg-2" >

            </div>   
        </div>
    </div>
    <br><br>
{%endblock%}
