{% extends 'base.html' %}
{% block content %}
{% load ratings %}
{% load static %}
{{block.super}}
    <div style="padding:30px">
        <p class=" text-center text-muted" style="font-weight: bold;">Rate projects based on design, creativity and innovation.</p> 
    </div>
    <div class="hero-image" >
        <div class="hero-text">
            <h1 style="font-family: 'Calistoga', cursive;color:white;">The Awards</h1><br>
            <h4 style="font-weight: bold;color:white;"> Design - Usability - Content</h4><br>
            <form class="navbar-form" role="search" action="{% url 'search_project' %}">
                <div class="input-group ">
                    <input input type="text" class="form-control" placeholder="Search Project" name="project" >
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
 
            
        </div>
    </div>
    </div class="container" >
        
        <div class="text-center container" style="padding:30px">
            <h4 style="font-weight: bold;">Let your project be reviewed today!</h4><br>
            <a class="btn btn-lg btn-primary" style="border-radius: 25px;" href="{% url 'new_project' %}">Submit Your Site!</a><br> 
        </div><hr>
     
        <div class="container">
            <h3 style="color:#535250;text-align:center;"><strong>Submitted Sites</strong> </h3><br><br>
            {% for project in projects %}
            <div class="col-lg-4 col-lg-4 col-lg-4">
                <div class="card ">
                    <img src="{{project.webimage.url}}"  class="card-img-top img-fluid" alt="{{project.name}}" >
                    <div class="card-text text-center" style="padding: 20px;">
                        <h4 style="font-weight: bold;">{{project.name}}</h4>
                        <small class="text-muted" style="font-family: Arial, Helvetica, sans-serif;">{{project.description | slice:":100" }}...</small><br><br>
                        <a class="btn btn-primary" style="border-radius: 20px;" href="/awwards/project/{{project.id}}" >Project details & Rating</a><br><br>
                       
                    </div>
                </div>
            </div>
            {% endfor %}
        </div><br><br>
        
    </div>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


{%endblock%}
