{% load bootstrap3 %}
<footer class="page-footer font-small pt-4" style="background-color: #424140;color: white;padding-top: 100px;padding-bottom:40px;font-family:Arial, Helvetica, sans-serif">

    <div class="container">
  
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
            <h5 class="font-weight-bold"><strong> Contacts</strong>:</h5>
          <h6 ><strong>Email</strong>: rashidaisha.ara@gmail.com<h6>
          <h6><strong> Telephone</strong>: 07 29 03 72 ..</h6>
          <h6>Nairobi,Kenya</h6>
  
        </div>  
        
          <div class="col-md-6 mb-md-0 mb-3" >
  
        </div>  
      </div>  
    </div>
    <div class="footer-copyright text-center py-3">© 2021:
      <a href="https://mdbootstrap.com/"> <span style="color: white;">The Awards</span></a>
    </div>
  
  </footer>
